@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login {
  background-image: url("./lnmiit.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Hedvig Letters Serif", serif;
}
